/* BASICS */
:root {
  --primary: #5d99d5;
  --secondary: #f2f2f2;
}
html {
    font-family: Arial, sans-serif;
    margin: auto;
}

body {
  overscroll-behavior: none;
}

.list-group-item {
    height: 1.2rem;
    border: .1rem solid grey;
    padding: .1rem;
    margin: .1rem;

}

a {
    text-decoration: none;
    color: inherit;
}

.row {
  display: block;
  margin: .5em 0;
}

.columns {
  float: left;
}

.four.columns {
  width: 33.3%;
}

.six.columns {
  width: 50%;
}

.eight.columns {
  width: 66.6%;
}

/* LISTS */
dt {
  font-weight: bold;
}

dd li {
  margin-left: -1.5em;
}

dt, dd {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

dd, dd * {
  margin: .1rem 0 !important;
  vertical-align: middle;
}

/* TABLES */
table {
  margin: 0 .5em;
}

table,
table *{
  font-size: small;
  border-collapse: collapse;
  border: none;
}

th {
  color: white;
  background-color: var(--primary);
}

tr:nth-child(even) {
  background-color: var(--secondary);
}

tr:hover {
  color: white;
  background-color: grey;
}

th, td {
  padding: .2rem;
  text-align: center;
  min-width: 1.5em;
}

/* SUBMIT BUTTONS */
button {
  font-size: inherit;
}

button, .button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary);
    padding: 0.3rem 1rem;
    border: none;
    border-radius: 25px;
    box-shadow: 2px 2px 5px grey;
    cursor: pointer;
}

button.alert, .button.alert {
  background-color: crimson;
}

button:hover, .button:hover {
    background-color: #FFF;
    color: rgb(157,0,0);
}

button:active, .button:active {
    transform: translateY(4px);
}

fieldset {
    display: inline-block;
    vertical-align: top;
    border-radius: 15px;
    border: .2rem solid #ddd;
    margin: .2rem;
}

fieldset > h3,
fieldset .row {
  margin: 0;
}

/* Checkbox-Styles based on https://codepen.io/anon/pen/Kobzvz */
input[type=checkbox] {
    opacity: 0;
    position: absolute;
}

input[type=checkbox], label {
    display: block;
    vertical-align: middle;
    height: 1.2rem;
    margin: 1rem;
    cursor: pointer;
}

label {
    display: inline-block;
    /*position: relative;
    width: 40%;*/
    vertical-align: top;
}

select, input {
    margin: 1rem;
    /*width: 40%;*/
}

fieldset label {
    display: block;
}

input[type="checkbox"] + label {
    min-width: 6rem;
}

input[type=checkbox] + label:before {
    content: '';
    background: #fff;
    border: 0.2rem solid #ddd;
    border-radius: 25px;
    display: inline-block;
    vertical-align: middle;
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.1rem;
    margin-right: 0.6rem;
    text-align: center;
}

input[type=checkbox].callback_mark:checked + label {
    font-weight: bold;
    color: #FFC71E;
    /*text-shadow: 1px 2px 3px #ddd;*/
}

input[type=checkbox]:checked + label:before {
    content: "✘";
    color: #ddd;
}

input[type=checkbox].callback_mark:checked + label:before {
    color: #FFC71E;
    border-color: #FFC71E;
}

input[type=checkbox]:focus + label {
  text-decoration: none; /* focus style */
}

input:disabled, button:disabled {
  display: none;
}

input[type=number] {
    height: 1.2rem;
}

.placement-wrapper input[type="number"] {
  display: block;
  width: 75%;
}

/* SPECIAL CLASSES */
.red {
	color: red;
}

.success {
  color: green;
  background-color: lightgreen;
  margin: 1rem;
  padding: .5rem;
  border-left: .25rem solid green;
}

.error {
  color: red;
  background-color: #ffdddd;
  margin: 1rem;
  padding: .5rem;
  border-left: .25rem solid red;
}

.fgrid {
	display:grid;
	grid-template-columns:auto auto;
	width:50%;
	margin:1rem 0;
}

li.additional {
  font-style: italic;
}

li.additional::marker {
  content: "+  ";
}

.dance_section {
  display: inline-block;
}

@media (min-width: 600px) {
   .dance_section {
      width: 49.6%;
    }
}

@media (min-width: 900px) {
   .dance_section {
      width: 32.5%;
    }
}

@media (min-width: 1200px) {
   .dance_section {
      width: 24.5%;
    }
}

@media (min-width: 1500px) {
   .dance_section {
      width: 19.5%;
    }
}

.dance_section fieldset {
  display: block;
}

.dance_section fieldset {
  display: block;
}

@media print {
  .page-break-before {
    page-break-before: always;
  }
  .page-break-after {
    page-break-after: always;
  }

  .no-print {
    display: none;
  }

  .controls * {
    display: none;
  }

  thead {
    border-bottom: .25em solid black;
  }

  th:nth-child(1) {
    border-right: .25em solid black;
  }

  tr:not(:last-child) {
    border-bottom: .15em solid black;
  }

  fieldset.heat {
    display: block;
  }

  fieldset.heat h4,
  fieldset.heat * div {
    display: none;
  }

  fieldset.heat .callback_mark_wrapper {
    display: block;
    width: 100%
  }

  fieldset.heat .callback_mark_wrapper label {
    display: inline-block;
    width: initial;
    min-width: 11.7%;
    margin: 1em 0;
  }

  input[type=checkbox].callback_mark + label:before {
    color: initial !important;
    border-color: initial !important;
  }

  input[type=checkbox].callback_mark + label {
    color: initial !important;
    font-weight: normal !important;
  }

  button, .button {
    box-shadow: none;
    background-color: none;
  }

  fieldset.final .six.columns {
    display: block;
    float: none;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  fieldset.final .six.columns * {
    display: inline-block;
    font-size: large;
    width: 3.6em;
    margin: 0;
      padding: 1em 0;
  }

  fieldset.final input[type="number"] {
      display: inline;
      -moz-appearance: textfield;
      width: 3.6em;
      margin: 0;
      text-align: center;
      padding: 1em .1em;
    }


  fieldset.final input[type="number"]::-webkit-outer-spin-button,
  fieldset.final input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}
