{% extends 'pydanceweb/base.html' %}

{% block content %}
<div>
  <a href="{% url 'show_tournament_desk_index' %}" class="button">zur Gesamtübersicht</a>
</div>

<h2>Teilnehmerliste</h2>
{% if competitor_table %}
<div class="row">
<table>
  <thead>
    <tr>
      <th/>
      <th>Vorname Herr</th>
      <th>Nachname Herr</th>
      <th>Team Herr</th>
      <th>Vorname Dame</th>
      <th>Nachname Dame</th>
      <th>Team Dame</th>
      {% for section_id in section_ids %}
      <th>{{ section_id }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for competitor_id, row in competitor_table.items %}
    <tr>
      <th><a href="{% url 'register_competitor' competitor_id %}" title="Registrierung abschließen oder ändern">{{ competitor_id }}</a></th>
      {% for section_id, cell_data in row.items %}
      {% if cell_data == 0 %}
      <td>-</td>
      {% elif cell_data == 1 %}
      <td title="für {{ section_id }} registriert" class="registered">&#10003;</td>
      {% elif cell_data == -1 %}
      <td title="für {{ section_id }} angemeldet, aber noch nicht registriert" class="unregistered">?</td>
      {% else %}
      <td>{{ cell_data }}</td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endif %}
<div>
    <a href="{% url 'register_new_competitor' %}" class="button">Teilnehmer hinzufügen</a>
</div>
{% if competitor_table %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(function(){
  	$('table').tablesorter();
});
</script>
{% endif %}
{% endblock %}
